table {
  margin: 2rem auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid var(--cor-texto-padrao);
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--cor-texto-destaque-2);
}